.footer-main-container {
    background-color: rgb(240, 240, 240);
    .footer {
      min-height: 50vh;
      width: 100%;
      border-top: 4px solid lightgray;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 2% 4%;
      margin-top: 30px;
  
      span,
      p {
        font-family: monospace;
      }
  
      h1 {
        font-size: 1.2rem;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        color: gray;
        font-weight: 400;
        padding: 2% 0 1.5%;
        color: black;
      }
  
      .blog {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        .first-blog {
          display: flex;
          gap: 20px;
  
          img {
            border: 1px solid lightgray;
            padding: 5px;
            height: 140px;
            width: 125px;
            object-fit: cover;
          }
  
          .blog-desc {
            width: 75%;
  
            p {
              font-size: 1.2rem;
              color: indianred;
            }
  
            span {
              color: gray;
              opacity: 0.8;
            }
          }
        }
      }
      .company {
        flex: 1;
        gap: 0.6px;
  
        .companyDesc {
          display: flex;
          flex-direction: column;
          line-height: 17px;
          font-family: "Courier New", Courier, monospace !important;
          padding-top: 4%;
  
          h1 {
            padding-bottom: 35px;
          }
          span {
            color: gray;
            opacity: 0.8;
            padding-bottom: 8px;
          }
        }
      }
      .contact {
        flex: 1;
  
        h1 {
          padding-bottom: 35px;
        }
  
        form {
          display: flex;
          flex-direction: column;
  
          input,
          textarea {
            width: 75%;
            padding: 6px;
            outline: none;
            border: 0;
            margin-bottom: 10px;
            border-radius: 5px;
            color: gray;
          }
  
          button {
            margin: 2% 0;
            width: 30%;
            color: white;
            font-weight: bold;
            font-family: monospace;
            font-size: 1.1rem;
            border-radius: 5px;
            outline: none;
            border: 0;
            background-color: indianred;
            padding: 6px 4px;
          }
        }
      }
    }
    .bottom-footer {
      display: flex;
      justify-content: space-between;
      color: gray;
      font-weight: lighter;
      padding: 40px 4%;
      font-family: monospace;
      border-top: 2px solid lightgray;
      opacity: 0.8;
  
      h1 {
        font-size: 1rem;
      }
    }
  }
  