<div class="footer-main-container">
    <div class="footer">
      <div class="blog">
        <h1>Latest From The Blog</h1>
        <div class="first-blog">
          <img
            src="https://img.freepik.com/free-vector/college-university-students-group-young-happy-people-standing-isolated-white-background_575670-66.jpg?size=626&ext=jpg&ga=GA1.1.1463151157.1680622324&semt=sph"
            alt="img"
          />
          <div class="blog-desc">
            <p>Metuervestas mus lacinia</p>
            <span>
              Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam
              volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis
              ut vitae lorem.
            </span>
          </div>
        </div>
        <div class="first-blog">
          <img
            src="https://img.freepik.com/free-photo/red-buildings-households_1127-2024.jpg?size=626&ext=jpg&ga=GA1.1.1463151157.1680622324&semt=sph"
            alt="clg"
          />
          <div class="blog-desc">
            <p>Metuervestas mus lacinia</p>
            <span>
              Convallisijusto vestas mus pellentum aeneansa pibu lum in aliquam
              volut pat integest nulla. Acsed sed nunc at fring maurisusce at elis
              ut vitae lorem.
            </span>
          </div>
        </div>
      </div>
      <div class="company">
        <h1>Company Details</h1>
        <div class="companyDesc">
          <span>Company Name</span>
          <span>Street Name & Number</span>
          <span>Town</span>
          <span>Postcode/Zip</span>
          <br />
          <span>Tel: 657981 68494684654</span>
          <span>Fax: 649875 46898795646</span>
          <span
            >Email: <span style="color: maroon">contact@mydomain.com</span></span
          >
          <br />
          <strong style="padding-bottom: 8px; color: gray; opacity: 0.7"
            >Office Hours</strong
          >
          <span>Monday-Friday:08:00-17:30</span>
          <span>Saturday: 08:00-13:00</span>
        </div>
      </div>
      <div class="contact">
        <h1>Contact Us</h1>
        <form style="font-family: 'Courier New', Courier, monospace">
          <input type="text" placeholder="Name" />
          <input type="text" placeholder="Email" />
          <textarea
            name=""
            id=""
            cols="20"
            rows="6"
            placeholder="Message"
          ></textarea>
          <button>SUBMIT</button>
        </form>
      </div>
    </div>
    <div class="bottom-footer">
      <h1>
        Copyright <fa-icon [icon]="copyRightIcon"> </fa-icon> 2023 - All Rights
        Reserved - Domain Name
      </h1>
      <h1>Template by OS Templates</h1>
    </div>
  </div>