@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.icons{
    margin-left: 20px;
}
.nav-right{
    margin-right: 20px;
    color:rgba(151,69,95,255);
}
.bg-container {
    min-height: 200vh;
    background-color: white;
}

.heading2 {
    color: #5a7184;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto";
}

.list {
    color: #5a7184;
    font-size: 13px;
    font-family: "Roboto";
    list-style-type: none;
}

.line {
    border: 2px solid maroon;
    padding: 0;
}

.linkedin {
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 5px;
    background-color: #ECF5F3;
}

.icon-container {
    background-color: black;
    height: 25px;
    width: 25px;
}


.top-first1 {
    color: grey;
    font-style: serif;
    border: 2px solid rgba(151,69,95,255);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: sans-serif;
}


.top-first2 {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.para-head {
    font-size: 15px;
    text-align: left;
}

.header-heading {
    color: black;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.header-heading span {
    font-size: 55px;
}

.slash-head {
    font-size: 60px;
}

.para-head {
    font-size: 18px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 18px;
    border: 2px solid lightgray;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    height: 40px;
    line-height: 0.4;
    color:#579e9e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #9C464F;

}
.under{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 30px;
    padding: 2px;
    width: 35px;
    padding: 3px;
    background-color: #80434a;
}
.navbar-container{
    background-color: #9C464F;
    color: white;
    font-family: sans-serif;
}
.second-section{
    padding: 0px 30px;
    padding-bottom: 0;
    background-color: #ebebeb;
    min-height: 40vh;
}
    
.nav-link{
    color: white;
}
.navbar-brand {
    margin-left: 20px;
    background-color: #97455f;
    
}
.corousel-section{
    height: 350px;
    width: 900;
    background-image: url('../assets/new.png');
    background-size: cover;
    align-items: end;
    padding-bottom:30px;
    padding-right: 15px;
}
.corousel-container{
    background-color: white;
    padding: 20px;
    
}
.corousel-bottom{
    background-color: rgba(173,173,173,255);
    color: black;
    height: 100px;
    width: 400px;
    padding: 10px;
    text-align:left;
    font-family: sans-serif;
    h1{
        font-size: 25px;
    }
    p{
        font-size:15px;
    }
}

.circle1{
    width: 15px;
    height: 15px;
    margin-left: 42vw;
}
.circle{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.circle-container{
    display: flex;
    margin: 20px;
    text-align: center;
}
.image{
    height:64px;
    width:64px;
    
}
.card-container{
    padding: 16px 100px;
}
.card-head{
    font-size: 15px;
}
.card-para{
    font-size: 13px;
}
.sub-card{
    padding: 10px;
    color:#ae9583;
    font-family: sans-serif;
}
.card{
    border:none;
    color:#97455f ;
}
.title-line1{
    background-color: gray;
    height: 6px;
    margin-left:90px;
    width: 36.5%
}
.title-line{
    background-color: gray;
    height: 6px;
    width: 36.5%;
    
}
.title-head{
    padding-top: 5px;
    font-size: 20px;
    margin-left: 6px;
    margin-right: 6px;
}
.home{
    background-color: rgba(106,49,68,255);
}
.linkedin-icon{
    background-color: #4d9898;
    height:35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(223, 235, 235);
    text-align: center;
    margin-left:10px;
    
}
.linkedin{
    height:21px;
    width:21px;
   padding-top:6px ;
   padding-right:6px ;
}
.image-lorum{
    height: 128px;
    width:128px;
    border-radius: 50%;
}
.profile{
    margin-right: 10px;
    h1{
        color: #d4d4d4;
        font-size: 100px;
    }
}
.linkedin-icon-last {
    background-color: orange;
}
.title-head{
    font-size: 25px;
}
.title-head-bottom{
    font-size: 15px;
    padding-top: 10px;
}
.anchor{
    color:#4d9898
}
.title-line3{
    background-color: gray;
    height: 6px;
    margin-left: 4px;
    margin-right:4px;
    width: 37%
}
.title-line4{
    background-color: gray;
    height: 6px;
    
    width: 37%
}
.bottom-sub{
    text-align: left;
    h2{
        font-size: 20px;
        color:black;
    }
    p{
        font-size:16px;
    }
}
.navBarContainer {
    background-color: white;
    height: 40px;
    display: flex;
    color:#80434a;
    padding: 30px 25px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #9C464F;
  
    .socialIcons {
      display: flex;
      gap: 20px;
  
      a {
        background-color: lightgray;
        color: azure;
        padding: 7px;
        border-radius: 100rem;
        transition: 0.3s;
        fa-icon {
        }
      }
      a:hover {
        background-color: orange;
      }
    }
  }
  .text{
    border-width:0px;
    border-radius: 5px;

  }
  .bottom-first {
    background-color: #80434a;
    height: 100px;
    width: 80vw;
    border-radius: 10px;
    margin: 20px 0px 0px 20px ;
    color:white;
    justify-content: space-between;
  }
  .bottom{
    border-top:5px solid rgb(216, 208, 208);
    margin-top:16px;
    background-color: rgb(243, 238, 238) ;
    h1{
        font-size: 25px;
    }
  }
  .text1{
    margin-top: 10px;
  }
  .btn-light{
    height: 45px;
    width: AUTO;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
    padding: 5px;
  }