

<div class = "bg-container">
  <div  class="bg-containe p-2">
    <div class="homeContainer">
      <nav class="navBarContainer">
        <div class="socialIcons">
          <a> <fa-icon [icon]="linkedInIcon" class="fa-xl"></fa-icon> </a>
          <a> <fa-icon [icon]="twitterIcon" class="fa-xl"></fa-icon> </a>
          <a> <fa-icon [icon]="pinterestIcon" class="fa-xl"></fa-icon> </a>
          <a> <fa-icon [icon]="googleIcon" class="fa-xl"></fa-icon> </a>
          <a> <fa-icon [icon]="rssIcon" class="fa-xl"></fa-icon> </a>
        </div>
        <div class="navMenu">
          <a>Sign Up</a>
          <span> | </span>
          <a>Login</a>
          <span> | </span>
          <a>RSS Feeds</a>
          <span> | </span>
          <a>Archived News</a>
        </div>
      </nav>
    </div>
    
    <div class="second-section text-center">
      <div class="second d-flex flex-row justify-content-end">
        <button class=" under btn btn-danger">__</button>
      </div>
      <div class="top-first2">
        <div class=" header d-flex flex-row">
          <h1 class="header-heading"> <span>I</span>MAGINATIVE</h1>
          <div class="para-head">
            <p>Free PSD</p>
            <p>Website Template</p>
          </div>
        </div>
        <div class="header-left d-flex flex-row">
          <input class = "text"type="text" placeholder="Search Our Website..." />
          <button class="header-button btn btn-danger">SUBMIT</button>
        </div>
      </div>
  
      <div class="navbar-container d-flex flex-row mt-1" #navbarcontainer>
        <button class = "home btn btn-dark">HOME</button>
        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="#">
                STYLE DEMO
  
              </a>
              <a class="nav-link" href="#">FULL WIDTH</a>
              <a class="nav-link" href="#">DROPDOWN</a>
              <a class="nav-link" href="#">PORTFOLIO</a>
              <a class="nav-link" href="#">GALLERY</a>
              <a class="nav-link" href="#">LONG TEST LINK</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="corousel-container text-center p-5">
        <div class="corousel-section d-flex flex-column justify-content-end">
          <div class = "corousel-bottom">
            <h1>Lorem ipsum dolor</h1>
            <p>"Lorem ipsum dolor sit amet, consectuture adipiscing elit. Nunc nam dam erat, In frill grilla mata as naci,,</p>
          </div>
        </div>
        <div class = " circle-container text-center d-flex flex-row justify-content-center">
          <svg class = "circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
          <svg class = "circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
          <svg  class = "circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
          <svg class = "circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
        </div>
      </div>
      
  
    </div>
    
  </div>
  <div class = "title d-flex flex-row ">
    <hr class = "title-line1"/>
    <h2 class = "title-head">YOUR TITLE IS HERE</h2>
    <hr class = "title-line"/>
  </div>
  <div class = "card-container">
    <div class = "row">
      <div class = "col-4">
        <div class = "card d-flex flex-row">
          <img src = "../assets/coding.jpg" class = "image"/>
          <div class = "sub-card">
            <h1 class = "card-head">
              Lorum Impsum Dollor
            </h1>
            <p class = "card-para">
                Orcinterdum Condiminenterdum  nullamCorper elite num curabitur laoreet met praesenean at iac.
            </p>
          </div>
        </div>
      </div>
      <div class = "col-4">
        <div class = "card d-flex flex-row">
          <img src = "../assets/coding.jpg" class = "image"/>
          <div class = "sub-card">
            <h1 class = "card-head">
              Lorum Impsum Dollor
            </h1>
            <p class = "card-para">
              Orcinterdum Condiminenterdum  nullamCorper elite num curabitur laoreet met praesenean at iac.
            </p>
          </div>
        </div>
      </div>
      <div class = "col-4">
        <div class = "card d-flex flex-row">
          <img src = "../assets/coding.jpg" class = "image"/>
          <div class = "sub-card">
            <h1 class = "card-head">
              Lorum Impsum Dollor
            </h1>
            <p class = "card-para">
              Orcinterdum Condiminenterdum  nullamCorper elite num curabitur laoreet met praesenean at iac.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-4">
        <div class = "card d-flex flex-row">
          <img src = "../assets/coding.jpg" class = "image"/>
          <div class = "sub-card">
            <h1 class = "card-head">
              Lorum Impsum Dollor
            </h1>
            <p class = "card-para">
              Orcinterdum Condiminenterdum  nullamCorper elite num curabitur laoreet met praesenean at iac.
            </p>
          </div>
        </div>
      </div>
      <div class = "col-4">
        <div class = "card d-flex flex-row">
          <img src = "../assets/coding.jpg" class = "image"/>
          <div class = "sub-card">
            <h1 class = "card-head">
              Lorum Impsum Dollor
            </h1>
            <p class = "card-para">
              Orcinterdum Condiminenterdum  nullamCorper elite num curabitur laoreet met praesenean at iac.
            </p>
          </div>
        </div>
      </div>
      <div class = "col-4">
        <div class = "card d-flex flex-row">
          <img src = "../assets/coding.jpg" class = "image"/>
          <div class = "sub-card">
            <h1 class = "card-head">
              Lorem Impsum Dollor
            </h1>
            <p class = "card-para">
              Orcinterdum Condiminenterdum  nullamCorper elite num curabitur laoreet met praesenean at iac.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-6 bottom-second text-center ">
        <div class = "title d-flex flex-row ">
          <hr class = "title-line3"/>
          <h3 class = "title-head-bottom">YOUR TITLE IS HERE</h3>
          <hr class = "title-line4"/>
        </div>
        <div class = "sub-card d-flex flex-row">
          <div class = "profile d-flex flex-row">
            <img src = "../assets/coding.jpg" class = "image-lorum"/>
          </div>
          <div class = "bottom-sub">
            <h2 class = "bottom-sub-head">Title Goes Here</h2>
          <p>kucguicavuibcubj bcbchbc bhvhvds bhvhsvhv </p>
          <a href=" = _____" class = "anchor">Read More>></a>
          </div>
        </div>
      
    </div>
    <div class = "col-6 bottom-second text-center ">
      <div class = "title d-flex flex-row ">
        <hr class = "title-line3"/>
        <h3 class = "title-head-bottom">YOUR TITLE IS HERE</h3>
        <hr class = "title-line4"/>
      </div>
      <div class = "sub-card d-flex flex-row">
        <div class = "profile d-flex flex-row">
          <h1 class = "pb-1">❛❛</h1>
        </div>
        <div class = "bottom-sub">
          <h2 class = "bottom-sub-head">Tommy Tanker CEO</h2>
        <p>kucguicavuibcubj bcbchbc bhvhvds bhvhsvhv </p>
        <a href=" = _____" class = "anchor">Read More>></a>
        </div>
      </div>
    
  </div>
  <div class = "bottom-first d-flex flex-row p-2">
    <div class = "sub-bottom-first">
      <h1>Orcinterdum corper elit Nam?</h1>
      <p>Orcinterdum </p>
    </div>
    <button class = "btn btn-light">CONTACT US TODAY</button>
  </div>
  <!-- <div class = "bottom row">
    <div class = "col-6">
      <h1>Latest from the Blog</h1>
    </div>
    <div class = "col-3">
      <h1>Company Details</h1>
      <p>Company Name</p>
      <p>Street Name and Number</p>
      <p>Town Post Code Zip</p>
    </div>
    <div class = "col-3">
      <h1>Contact Us</h1>
      <input type = "text" class = "text text1" placeholder="Name"/>
      <input type = "text" class = "text text1" placeholder="Email"/>
      
    </div>
  </div> -->
  <div class="footer">
    <div class="blog">
      <h1>Latest From The Blog</h1>
      <div class="first-blog">
        <img src="https://img.freepik.com/free-vector/college-university-students-group-young-happy-people-standing-isolated-white-background_575670-66.jpg?size=626&ext=jpg&ga=GA1.1.1463151157.1680622324&semt=sph"
         alt="img">
        <div class="blog-desc">
          <p>Metuervestas mus lacinia</p>
          <span>
            Convallisijusto vestas mus pellentum aeneansa
            pibu lum in aliquam volut pat integest nulla.
            Acsed sed nunc at fring maurisusce at elis ut
            vitae lorem.
          </span>
        </div>
      </div>
      <div class="first-blog">
        <img src="https://img.freepik.com/free-photo/red-buildings-households_1127-2024.jpg?size=626&ext=jpg&ga=GA1.1.1463151157.1680622324&semt=sph"
         alt="clg">
        <div class="blog-desc">
          <p>Metuervestas mus lacinia</p>
          <span>
            Convallisijusto vestas mus pellentum aeneansa
            pibu lum in aliquam volut pat integest nulla.
            Acsed sed nunc at fring maurisusce at elis ut
            vitae lorem.
          </span>
        </div>
      </div>
    </div>
    <div class="company">
      <h1>Company Details</h1>
      <span>Company Name</span>
      <span>Street Name & Number</span>
      <span>Town</span>
      <span>Postcode/Zip</span>
      <br>
      <span>Tel: 65798 168494684654</span>
      <span>Fax: 649875 46898795646</span>
      <span>Email: <span style="color: palevioletred;">contact@address.com</span></span>
      <br>
      <strong style="padding-bottom: 8px;">Office Hours</strong>
      <span>Mon-Fri: 9:30-18:30</span>
      <span>Sat-Sun: Holiday</span>
    </div>
    <div class="contact">
      <h1>Contact Us</h1>
      <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea name="" id="" cols="20" rows="6"></textarea>
        <button>SUBMIT</button>
      </form>
    </div>
    <div>
      <hr>
    </div>
  </div>
    </div>
  </div>
</div>
