@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.icons {
  margin-left: 20px;
}

.nav-right {
  margin-right: 20px;
  color: rgba(151, 69, 95, 255);
}

.bg-container {
  min-height: 200vh;
  background-color: white;
  font-family: sans-serif;
  padding: 30px;
}

.heading2 {
  color: #5a7184;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto";
}

.list {
  color: #5a7184;
  font-size: 13px;
  font-family: "Roboto";
  list-style-type: none;
}

.line {
  border: 2px solid maroon;
  padding: 0;
}

.linkedin {
  width: 20px;
  height: 20px;
  color: white;
  margin-left: 5px;
  background-color: #ecf5f3;
}

.icon-container {
  background-color: black;
  height: 25px;
  width: 25px;
}

.top-first1 {
  color: grey;
  font-style: serif;
  border: 2px solid rgba(151, 69, 95, 255);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: sans-serif;
}

.top-first2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.para-head {
  padding-top: 6px !important;
  font-size: 15px !important;
  color: gray !important;
  opacity: 1 !important;
  font-family: "Courier New", Courier, monospace !important;
  word-spacing: -5px !important;
  text-align: left;
}

.header-heading {
  color: black;
  padding-right: 10px;
  font-family: "Times New Roman", Times, serif;
}

.header-heading span {
  font-size: 55px;
}

.slash-head {
  font-size: 60px;
}

.para-head {
  font-size: 18px;
  padding-left: 10px;
  padding-top: 4px;
  margin-top: 18px;
  border: 2px solid lightgray;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  height: 40px;
  line-height: 0.4;
  color: #579e9e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #9c464f;
}

.under {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 30px;
  padding: 2px;
  width: 35px;
  padding: 3px;
  background-color: #80434a;
  font-family: Georgia;
}

.navbar-container {
  background-color: #9c464f;
  color: white;
  font-family: sans-serif;
  border-radius: 10px;
}

.second-section {
  padding: 0px 30px;
  padding-bottom: 0;
  background-color: #ebebeb;
  min-height: 40vh;
}

.nav-link {
  color: white;
}

.navbar-brand {
  margin-left: 20px;
  background-color: #97455f;
}

.corousel-section {
  height: 500px;
  width: 900;
  background-image: url("../assets/new.png");
  background-size: cover;
  align-items: end;
  padding-bottom: 30px;
  padding-right: 15px;
}

.corousel-container {
  background-color: white;
  padding: 20px;
}

.corousel-bottom {
  background-color: rgba(173, 173, 173, 255);
  color: black;
  height: 170px;
  width: 43vw;
  padding: 24px;

  text-align: left;
  font-family: "Times New Roman", Times, serif;

  h1 {
    font-size: 45px;
    font-weight: 200;
  }

  p {
    font-size: 25px;

  }
}

.circle1 {
  width: 20px;
  height: 20px;
  margin-left: 42vw;
}

.circle {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.circle-container {
  display: flex;
  margin: 20px;
  text-align: center;
}

.image {
  height: 80px;
  width: 80px;
}

.card-container {
  padding: 16px 0px;
  font-family: 'Courier New', Courier, monospace;
}

.card-head {
  font-size: 15px;
}

.card-para {
  font-size: 13px;
}

.sub-card {
  padding: 10px;
  color: #ae9583;

}

.card {
  border: none;
  color: #97455f;
}

.title-line1 {
  background-color: gray;
  height: 6px;
  margin-left: 90px;
  width: 38%;
}

.title-line {
  background-color: gray;
  height: 6px;
  width: 38%;
}

.title-head {
  font-family: "Times New Roman", Times, serif;
  padding-top: 8px;
  font-size: 20px;
  margin-left: 6px;
  margin-right: 6px;
  font-weight: 500;
}

// Your Title Section - I
.first-yourTitle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;

  .first {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 30%;
    // background-color: #d33c3c;

    img {
      height: 110px;
      width: 110px;
    }

    .sub-first {
      font-family: 'Courier New', Courier, monospace !important;
      width: 300px;



      h1 {
        font-size: 23px;
        color: #80434a;

      }

      p {
        color: gray;
        font-size: 15px;
      }
    }
  }
}

.home {
  background-color: rgba(106, 49, 68, 255);
}

.linkedin-icon {
  background-color: #4d9898;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(223, 235, 235);
  text-align: center;
  margin-left: 10px;
}

.linkedin {
  height: 21px;
  width: 21px;
  padding-top: 6px;
  padding-right: 6px;
}

.image-lorum {
  height: 128px;
  width: 128px;
  border-radius: 50%;
}

.profile {
  margin-right: 10px;

  h1 {
    color: #d4d4d4;
    font-size: 100px;
  }
}

.linkedin-icon-last {
  background-color: orange;
}

.title-head {
  font-size: 25px;
}

.title-head-bottom {
  font-size: 15px;
  padding-top: 10px;
}

.anchor {
  color: #4d9898;
}

.title-line3 {
  background-color: gray;
  height: 6px;
  margin-left: 40px;

  width: 33%;
}

.title-line4 {
  background-color: gray;
  height: 6px;

  width: 33%;
}

.bottom-sub {
  text-align: left;
  font-family: "Courier New", Courier, monospace;

  h2 {
    font-size: 20px;
    color: black;
  }

  p {
    font-size: 16px;
  }
}

.navBarContainer {
  background-color: white;
  height: 40px;
  display: flex;
  color: #80434a;
  padding: 30px 25px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #9c464f;

  .socialIcons {
    display: flex;
    gap: 20px;

    a {
      background-color: lightgray;
      color: azure;
      padding: 7px;
      border-radius: 100rem;
      transition: 0.3s;
    }

    a:hover {
      background-color: orange;
    }

    a:nth-child(5) {
      background-color: orange;
    }
  }
}

.text {
  border-width: 0px;
  border-radius: 5px;
}

.bottom-first {
  background-color: #80434a;
  height: 150px;
  width: 83vw;
  border-radius: 10px;
  margin: 20px 100px;
  padding: 20px;
  color: white;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
}

.bottom-second {
  width: 45vw;
  margin-left: 40px;
}

.bottom {
  border-top: 5px solid rgb(216, 208, 208);
  margin-top: 16px;
  background-color: rgb(243, 238, 238);

  h1 {
    font-size: 25px;
  }
}

.text1 {
  margin-top: 10px;
}

.btn-light {
  width: 415px;
  height: 83px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  padding: 3px;
  color: #80434a;
  margin-right: 35px;
}

.secondSection {
  display: flex;
  flex-direction: column;

  .tommySection {
    display: flex;
    gap: 15px;

    .quotes {
      h1 {
        font-size: 150px;
        color: lightgray;
      }
    }

    .tommyTitle {
      text-align: left;
      font-family: "Courier New", Courier, monospace;
      padding-top: 30px;

      h2 {
        font-size: 1.25rem;
        font-weight: 500;
        color: black;
      }

      h3 {
        font-size: 1rem;
        font-weight: 500;
        color: indianred;
        font-weight: bold;
        word-spacing: -4px;
      }
    }
  }

  .secondSectionDesc {
    margin-top: -100px;
    text-align: left;

    p {
      font-family: "Courier New", Courier, monospace;

      color: gray;
      font-weight: 510;
      font-size: 15.9px;
    }
  }
}

.titleSectionDesc {
  padding-left: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 510;
  word-spacing: -5px;


  p {
    color: gray;
    font-size: 17px;


  }

  a {
    color: indianred;
    text-decoration: none;
    font-weight: bold;


  }
}

.under {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 30px;
  padding: 2px;
  width: 35px;
  padding: 5px;
  background-color: #80434a;
  font-family: Georgia;
}

.sub-bottom-first {
  padding: 11px 35px;

  h1 {
    font-size: 50px;

  }

  p {
    font-size: 25px;
    ;
  }

}